# Core
numpy
math
os

# Torch & Deep Learning
torch
torchvision
torchaudio
pytorch-lightning
einops
fvcore

# Vision & Augmentation
opencv-python
albumentations
Pillow

# Model / Layers / Architectures
timm
mamba-ssm

# Utilities
matplotlib
tqdm
fastprogress
scikit-learn
